a {
    color: brown;
}

a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
}

div {
    border: solid rgb(7, 7, 7) 1px;
}

.miDivUno {
    border: solid rgb(6, 151, 37) 1px;
}

.recuadro {
    width: 49.5%;
    display: inline-block;
    height: 49.5%;
    overflow: hidden;
}

